[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
 fastapi = "*"
 mypy = "*"
 catboost = "*"
 numpy = "<2.0.0"
 python-dotenv = "*" 

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "fastapi dev app/main.py"
prod = "fastapi run app/main.py"
build = "mypy app"
