[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "fastapi dev main.py"
build = "mypy app"
